services:
  agno-agent:
    build: agno-agent
    ports:
      - "8000:8000"
    env_file:
      - .env

  bot-api:
    build: ./calendar-bot-api
    env_file:
      - .env
    environment:
      SERVER_PORT: "8080"
      TELEGRAM_WEBHOOK_SECRET: "${TELEGRAM_WEBHOOK_SECRET}"
    ports:
      - "8080:8080"
    depends_on:
      - agno-agent
